# dependencies
node_modules/

# build output
dist/
docs/

# vitepress
docs-src/.vitepress/cache/
docs-src/.vitepress/dist/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# system
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local
